* {
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    outline: 0;
}

html {
    background: #162d47;
    color: #fff;
    line-height: 1.5;
    text-size-adjust: 100%;
    width: 340px;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

.header {
    padding: 16px;
    text-align: center;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
    color: #67a8cb;
    margin: 0;
}

.container {
    margin-top: 20px;
    text-align: center;
}

.label {
    display: inline-block;
    color: #28a745;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
}

.blink {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #28a745;
    animation: blink-animation 1s infinite;
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.4);
    vertical-align: middle;
    margin-bottom: 2px; /* Mesafeyi artırdık */
}

@keyframes blink-animation {
    0% { box-shadow: 0 0 0 8px rgba(40, 167, 69, 0.4); }
    50% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0); }
    100% { box-shadow: 0 0 0 8px rgba(40, 167, 69, 0.4); }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 20px;
    font-size: 12px;
}

.footer .version {
    color: #67a8cb;
}

.footer .copy {
    color: rgba(255, 255, 255, 0.8);
}